extends layout

block content
  //span(id="logger")
  h2= title
  //p Welcome to #{title}
  //input(type="text",name="username",placeholder="Enter Facebook Username",id="username")	
  div#status
  div#onDesk
   
   label I'm having accelerometer :&nbsp;
   input(type="checkbox", name="is_client", value="1", id="is_client")
   #box
  #checkSize