@import 'reset'
@import 'mixins'

/*  */

body
  //padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#logger
  font-weight: bold

#box
  background:url('../images/placeholder.gif')
  background-size:cover
  border-radius:50%
  box-shadow:0 0 15px #2d2d2d
  width: 100px
  height: 100px
  //background: #333
  margin: 20px
  transition: all 0.2s linear

#orient
  margin:0 auto
  width:960px
#fileElem
  visibility:hidden
  width:0
  height:0
#box2
  background-size:cover
  border-radius:50%
  //box-shadow:0 0 15px #2d2d2d
  width: 100px
  height: 100px
  //background: #333
  margin: 20px
  transition: all 0.4s linear

  
